<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark List</title>
</head>
<body>
    <a href="{% url 'bookmark_create' %}">북마크 생성하기</a>
    <table>
        {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td><a href="{% url 'bookmark_detail' pk=object.id %}">{{object.site_name }}</a></td>
            <td><a href="{{ object.url }}" target="blank">{{ object.url }}</a></td>
            <br>
            <td><a href="{% url 'bookmark_update' pk=object.id %}">수정하기</a></td>
            <td><a href="{% url 'bookmark_delete' pk=object.id %}">삭제하기</a></td>

        </tr>
        {% endfor %}
    </table>
    
</body>
</html>