<!--blog폴더에 있는 base.html의 파일을 상속받겠다!-->
{% extends 'blog/base.html' %}
<!--static파일을 불러옴!-->
{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">

        <!--글제목을 넣을 예정입니다-->
        <!--작성 글을 보여주는 창! 제목과 작성일자, 작성자, 내용을 보여줌-->
        <h2 class="text-center mt-0">제목 : {{post.title}}</h2>
        <hr class="divider" />
        <p>작성 일자 및 시간 : {{ post.pub_date }}</p>
        <p>글쓴이 : {{ post.writer }}</p>
        <p>내용 : {{ post.content }}</p>

        <!--미디어 사진 확인!!!! -->
        {% if post.image %}
            <img src="{{ post.image.url }}" width="250" height="250" alt="Card image cap">
        {% endif %}
        <br>
        <!--여기에 해시태그 넣을게영!!!!-->
        {% for hashtag in post.hashtags.all %}
            <span>{{ hashtag.name }}</span>
        {% endfor %}
        <br>
        <!--edit.html로 이동할 것인데, 여러 post모델 중 특정 아이디만 받을 것.-->
        <a href="{% url 'edit' post.id %}">수정하기</a>
        <!--삭제 할것인데 여러 post모델 중 특정 아이디만 받아와 삭제.-->
        <a href="{% url 'delete' post.id %}">삭제하기</a>
        <br>
        <br>
        <br>
        {% for comment in post.comments.all %}
            <p>{{comment.text}}</p>
        {% endfor %}
        <form method="POST" action="{% url 'detail' post.id %}">
            {% csrf_token %}
            <p> {{ form.as_p }}</p>
            <input type="submit" value="submit">
        </form>
    </div>
</section>
{% endblock %}