{% extends 'blog/base.html' %}
<!--new.html은 N-M 강의 파일에서 가져옴! base.html을 상속받고 헤더바꿈!-->
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/app/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>New Hashtag</h1>
            <span class="subheading">해시태그를 추가하는 페이지입니다.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        {{ error_message }}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
</div>
{% endblock %}
